<aside>
  <img src="/images/dirk-gerrits.jpg" alt="Dirk Gerrits"
       title="Dirk Gerrits" width="250" height="250"/>

  <p id="contact">
    <a href="mailto:dirk.gerrits@gmail.com" title="E-mail me"><img src="/images/email-icon-28x28.png" alt="E-mail"/><span>dirk.gerrits@gmail.com</span></a>
    <br/>
    <a href="https://www.google.com/+DirkGerrits" title="My Google+ profile"><img src="/images/google-plus-icon-28x28.png" alt="Google+"/><span>google.com/+DirkGerrits</span></a>
    <br/>
    <a href="https://www.facebook.com/dirk.gerrits" title="My Facebook profile"><img src="/images/facebook-icon-28x28.png" alt="Facebook"/><span>facebook.com/dirk.gerrits</span></a>
    <br/>
    <a href="https://nl.linkedin.com/in/dirkgerrits" title="My LinkedIn profile"><img src="/images/linkedin-icon-28x28.png" alt="LinkedIn"/><span>nl.linkedin.com/in/dirkgerrits</span></a>
  </p>
</aside>

$blurb$

<section>
  <h2>Skills and interests</h2>
  <div class="column1">
    <ul>
      <li>Algorithms and data structures
        <div class="note">Design, analysis, implementation.</div>
      </li>
      <li>Writing and presenting
        <div class="note">See my <a href="/posts/">blog</a> and <a href="/publications/">publications</a>.</div>
      </li>
      <li>Programming paradigms
        <div class="note">Imperative, functional, object-oriented, concurrent, distributed.</div>
      </li>
      <li>Computer languages
        <div class="note">I greatly enjoy learning new ones.<br/>
          <span class="highlight">Proficient with:</span>
          C++,
          Python,
          LaTeX,
          HTML/CSS/JavaScript.<br/>
          <span class="midtone">Have also used:</span>
          Assembly,
          Bash,
          C,
          C#,
          Common Lisp,
          Erlang,
          Forth,
          Haskell,
          Java,
          Mathematica,
          PHP,
          Pascal,
          Perl,
          Prolog,
          R,
          Ruby,
          Scheme,
          SQL.
        </div>
      </li>
      <li>Natural languages
        <div class="note">Dutch (native), English (fluent), German (reading/listening).</div>
      </li>
    </ul>
  </div>
  <div class="column2">
    <ul>
      <li>Visualization
        <div class="note">Making data and processes insightful and
        explorable.</div>
      </li>
      <li>Video games
        <div class="note">Playing them, studying their design and
        implementation.</div>
      </li>
      <li>Mathematics
        <div class="note">Geometry, discrete math, statistics.</div>
      </li>
      <li>Physics
        <div class="note">Classical and orbital mechanics.</div>
      </li>
      <li>Psychology and neuroscience
        <div class="note">How best to use my brain and entice those of
        others.</div>
      </li>
      <li>Running
        <div class="note">Exercise is the ultimate brain enhancer.</div>
      </li>
    </ul>
  </div>
</section>

$experience$

<section>
  <h2>Education</h2>
  <ul>
    <li><p><strong>2008 &ndash; 2013:</strong>
      PhD, Computer Science<br/>
      <a href="http://w3.tue.nl/">Eindhoven University of Technology</a>, the Netherlands<br/>
      <strong>Thesis:</strong> <a href="/publications/pushing-and-pulling.pdf">Pushing and Pulling</a><br/>
      Extra courses:
      <div class="column1 note">
        <ul>
          <li>Planning &amp; Communication</li>
          <li>Scientific Integrity</li>
          <li>Supervising Master Students</li>
          <li>Teaching &amp; Learning in Higher Education</li>
          <li>Writing Articles &amp; Abstracts</li>
        </ul>
      </div>
      <div class="column2 note">
        <ul>
          <li>The Art of Presenting Science</li>
          <li>Algorithms for Data Analysis &amp; Visualization</li>
          <li>Multi-Core Computing</li>
          <li>Bioinformatics</li>
          <li>Algorithms and Complexity</li>
        </ul>
      </div>
    </p></li>
    <li><p><strong>2005 &ndash; 2008:</strong> MSc, Computer Science and Engineering<br/>
      <a href="http://w3.tue.nl/">Eindhoven University of Technology</a>, the Netherlands<br/>
      <strong>Thesis:</strong> <a href="/publications/push-plans.pdf">Designing Push Plans for Disk-Shaped Robots</a><br/>
      Graduated <em>cum laude</em></p></li>
    <li><p><strong>2002 &ndash; 2005:</strong>
      BSc, <abbr title="Applied Computer Science">Technische Informatica</abbr><br/>
      <a href="http://w3.tue.nl/">Eindhoven University of Technology</a>, the Netherlands<br/>
      Graduated <em>cum laude</em></p></li>
    <li><p><strong>1996 &ndash; 2002:</strong>
      VWO (Atheneum), <abbr title="Nature &amp; Technology">Natuur &amp; Techniek</abbr><br/>
      <a href="http://www.rythoviuscollege.nl/">Rythovius College</a>, Eersel, the Netherlands</p></li>
  </ul>
</section>
