<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DirkGerrits.com - $title$</title>
    <!--[if lt IE 9]>
    <script>'abbr article aside audio bdi canvas data datalist details figcaption figure footer header hgroup main mark meter nav output progress section summary subline time video'.replace(/\w+/g,function(n){document.createElement(n);});</script>
    <![endif]-->
    <link rel="stylesheet" href="/css/default.css">
  </head>
  <body>
    <header role="banner">
      <img src="/images/joy.jpg" width="940" height="198"/>
      <nav role="navigation">
        <div id="mainNav">
          <ul>
            $if(about)$
            <li class="about"><span class="selected">Dirk Gerrits</span></li>
            $else$
            <li class="about"><a href="/about/">Dirk Gerrits</a></li>
            $endif$
            $if(blog)$
            <li class="blog"><span class="selected">Blog</span></li>
            $else$
            <li class="blog"><a href="/">Blog</a></li>
            $endif$
            $if(publications)$
            <li class="publications"><span class="selected">Publications</span></li>
            $else$
            <li class="publications"><a href="/publications/">Publications</a></li>
            $endif$
            $if(programming)$
            <li class="programming"><span class="selected">Programming</span></li>
            $else$
            <li class="programming"><a href="/programming/">Programming</a></li>
            $endif$
            <li class="social-media">
              <a href="mailto:dirk.gerrits@gmail.com" title="E-mail me"><img src="/images/email-icon-28x28.png" alt="E-mail me"/></a>
              <a href="https://www.facebook.com/dirk.gerrits" title="My Facebook profile"><img src="/images/facebook-icon-28x28.png" alt="My Facebook profile"/></a>
              <a href="https://nl.linkedin.com/in/dirkgerrits" title="My LinkedIn profile"><img src="/images/linked-in.png" alt="My LinkedIn profile"/></a>
              <a href="#" title="Subscribe to my blog via RSS"><img src="/images/rss-feed-icon-28x28.png" alt="Subscribe to my blog via RSS"/></a>
              <a href="#" title="Subscribe to my blog via e-mail"><img src="/images/email-feed-icon-28x28.png" alt="Subscribe to my blog via e-mail"/></a>
            </li>
          </ul>
        </div>
        $if(archive)$
        $else$$if(blog)$
        <div id="subNav">
          <ul class="blog">
            $if(previousPost)$
            <li class="previous"><a href="$previousPost$">&laquo; Previous post</a></li>
            $else$
            <li class="previous"><span>&laquo; Previous post</span></li>
            $endif$
            <li><a href="/posts/">All posts</a></li>
            $if(nextPost)$
            <li class="next"><a href="$nextPost$">Next post &raquo;</a></li>
            $else$
            <li class="next"><span>Next post &raquo;</span></li>
            $endif$
          </ul>
        </div>
        $endif$$endif$
        $if(publications)$
        <div id="subNav">
          <ul class="publications">
            <li class="first"><a href="#conference-and-journal-papers">Conference &amp; journal papers</a></li>
            <li><a href="#theses-and-dissertations">Theses &amp; dissertations</a></li>
            <li class="last"><a href="#unpublished-articles">Unpublished articles</a></li>
          </ul>
        </div>
        $endif$
      </nav>
    </header>
    <div class="main" role="main">
      <article role="article">
        $body$
      </article>
    </div><!-- .main -->
    <footer role="contentinfo">
      <p>Copyright &copy; 2014 Dirk Gerrits.  All Rights Reserved.</p>
    </footer>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </body>
</html>
